<div class="admin-sidebar">
	<div class="menu">
		<h3>后台管理</h3>
		<ul>
			<li{if $do=='index' || $do==''} class="active"{/if}><a href="./">管理首页</a></li>
			<li{if $do=='module'} class="active"{/if}><a href="./index.php?do=admin_module">公共模块审核</a></li>
			<li{if $do=='email'} class="active"{/if}><a href="./index.php?do=admin_module&act=email">Email发信功能</a></li>
			<li{if $do=='allfilter'} class="active"{/if}><a href="./index.php?do=admin_module&act=allfilter">整站过滤</a></li>
		</ul>
	</div>
</div>
<div class="admin-content">
